service/src/*.js
service/src/*.map
service/src/**/*.js
service/src/**/*.map
service/test/*.js
service/test/*.map
npm-debug.log
**/mochawesome-reports/
**/node_modules/
.idea/
.yarnclean
**/coverage/
.nyc*
*/*.lock
