src/*.js
src/*.map
test/*.js
test/*.map
src/controller/*.js
src/controller/*.map
src/model/*.js
src/model/*.map
src/rest/*.js
src/rest/*.map
!src/rest/frontend
!src/rest/frontend/*



npm-debug.log
mochawesome-reports/
node_modules/
.idea/
.yarnclean
coverage/
*.log
