body {
	font-family: Helvetica, sans-serif;
}

a, a:hover, a:visited, a:active {
	color: dodgerblue;
	text-decoration: none;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	padding: 2px 0 100px 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	font-size: 14px;
	border: 1px solid #ccc;
	padding: 10px;
}

td:first-child {
	width: 150px;
	background: #fdfdfd;
	text-align: right;
	font-weight: bold;
}

#story-container {
	overflow: auto;
	padding: 15px 0;
}

#story-container > * {
	float: left;
}

#story-container > h1 {
	padding: 0 28px 0 13px;
	font-size: 28px;
}

#story-container > div {
	padding-top: 5px;
	width: 700px;
}